# Python
## How to use Jupyter Note Book
### Basics of Python
1 - My first program

In [1]:
print("Hello Python")
print("Wrinting First line of code in Python")
print("I am Pro")

Hello Python
Wrinting First line of code in Python
I am Pro

## 2- Operators

In [ ]:

print(2+1)  #Addition
print(3-1)   #Subtraction
print(6/2) #Divisionwithfloatingpoints
print(2*3)   #Multiplication
print(13%2)#Reminder
print(6//2) #Division
print(2**3)

## 3- Strings

In [ ]:

print("Ahmed")
print("Hello world")
print('Ahmed')
print(''' Ahmed''')

print('   Hello    world')

## 4-Comment

In [ ]:
print("I am single line comment") # I am single line comment

print("I am first line ") 
print("I am 2nd line ")

# print("I am first line ")
# print("I am 2nd line ")

# I am Multi line comment

### 5-Variables

In [ ]:
2+3
a=5
print(a)
a=4
print(a+3)
(print(type(a)))
#String variables
y="Hello string"
print(y)
books="Maths"
print(books)
#types of variables
type(a)
print(type(a))
#print_type_class

#Rules
#-The variable should contain letters, numbers or underscore
#-2 Do not start with numbers
#-Spaces are not allowed
#-4 Do not use keyewords
#- short and descriptive
#-Case senesitive 
fruit_basket = 8
fruit_basket= "mangoes"
print(type(fruit_basket))
print(fruit_basket)

### 6-Input Vriables

In [ ]:
#Input variables
# fruitbasket="Grapes"
# print(fruitbasket)

# fruitbasket=input("What is your favourite fruit")
# print(fruitbasket)
# #inout function of 2nd stage\
# name = input("What is your name")
# greeting="Hello!"

# print(greeting, name)

#another way of stage 2 unout function
# name= input("What is your name")
# print("Hello!", name)

#3rd stage inout function
name= input("What is your name")
age= input("How old are you")
greeting="Hello!"

print(greeting, name, ", You are still young")

In [ ]:
#Name=input("What is your name: ")
#print(Name)
greetings="Hello"

Name=input("What is your name: ")
age=input("What is your age")
print(greetings,Name, ",you are still young")

### 7-Conditional Logic

In [ ]:
#equal to ==
#less than <
#greater than >
#not equal to !<
#less than or equal to <=
#greater than or equal to >=

print(4==4)
print(4!=4)
print(4<=5)
print(5>=8)

# Application of logical operator 
# hammad_age=3
# age_school=5
# print(hammad_age==age_school)
# hammad_age=3
# age_school=5
# print(hammad_age==age_school)
# print(type(hammad_age))

#inout function and logical operator
age_school=5
hammad_age=input("How old is Hammad? ") #input function
hammad_age=int(hammad_age)
print(type(hammad_age)) 
print(hammad_age==age_school) #logical operator

### 8-Type conversion

In [ ]:
# x=15 #integer
# y=2.3 #float
# z="Hello"  #string
# #implicity type cobersion
# x=x+y
# print(x, "Type of x is:", type(x))

# age =input("what isyour age? ")
# #age=int(age)
# print(age, type(float(age)))

#name

name =input("what is your name? ")
print(name, type(str(name)))

### 9-If Else Elif

In [ ]:
hammad_age=4
age_school=5

#can Hammad go to school?
if hammad_age==age_school:
  print("Hammad can join the school")
elif hammad_age < age_school:
  print("Hammad join Kindergarten")
else:
  print("cannot goto school")

### 10-Function

In [ ]:
# definiing a function
def print_line():
  print("We are learning with baba Aammar")
  print("We are learning with baba Aammar")
  print("We are learning with baba Aammar")

print_line()

In [ ]:
#2ndway
def dWay():
  text="We are learnig with baba Aammar"
  print(text)
  print(text)
  print(text)
dWay()

In [ ]:
#3rway
def tway(text):
  print(text)
  print(text)
  print(text)
tway("we are learing python with baba Aammar in Codanics youtube channel")

In [ ]:
#Function with if else elif
def school_cal(age):
  if age==5:
    print("Hammad can join the school")
  elif age>5:
    print("Hammad can join Higher School")
  else:
    print("Hammad is still a baby")
school_cal(2)

In [ ]:
# defining a function of future 
def future_age(age):
  new_age=age+20
  return new_age
  #print(new_age)
future_predicted_age=future_age(18)
print(future_predicted_age)

### 11-Loop

In [ ]:
#While and For loops
#while Loop
x=0
while(x<=5):
  print(x)
  x=x+1

In [ ]:
#For loop
# for x in range(5, 10):
#   print(x)
#array

days=["Mon","Tue","Wed","Thur","fri", "sat"]
for d in days:
  #if (d=="Wed"):break
  if (d=="fri"): continue #Skips d
  print(d)

### 12-Import Liabraries

In [ ]:
#if you want to printthe value of pi 
import math
print("The value of PI is", math.pi)

import statistics
x=[150,250,350,450,550]
print(statistics.mean(x))

### 13-TRIUBLE_SHOOTING

In [ ]:

#print("Here) syntaxEror

#print(25/0) #runTimeError

name=("Ahmed")
#print("Hello name") #semantic error will not print name
print("Hello ", name)

## Basic Data Structures in Python
- Tuple
- list
- Dictionaries
- Set

## Tuple
- ordered collections of element
- inclosed in braces ()
- can store differnt types of elements
- Once elemnts are stored it cannot be changed(ummutatable)

In [ ]:
tup1=(1, "Python", 3, True)
tup1

#TYPE
type(tup1)

### Indexing in Tuple

In [ ]:
tup1[1]

In [ ]:
tup1[2]

In [ ]:
#last element is exclusive
tup1[0:3]

In [ ]:
len(tup1)

In [ ]:
tup2=(2,"baba aammar", 3.5, False)
tup2

In [ ]:
# Concatinating Tuples(adding tuples)
tup1+tup2

In [ ]:
tup1*3+tup2

In [ ]:
tup1*3

In [ ]:
tup3=(20,30,40,45,65)
tup3

In [ ]:
min(tup3)

In [ ]:
max(tup3)

### LIST 
- oreddered collection of elements
- inclosed in suqare brackets [] 
- we can change elements(mutatable)

In [ ]:
list1=[2, "baba ammar", False] 
list

In [ ]:
len(list1)

In [ ]:
list1[2]

In [ ]:
list2=["Ahmed",3, 5, "yes", False]
list2

In [ ]:
list1+list2

In [ ]:
list1*2

In [ ]:
list1.reverse()
list1

In [ ]:
list1.append("Codanics Youtube channel")
list1

In [ ]:
list1=["maths", 3, "Eng"]
list1.extend("B")
list1

In [ ]:
list1.insert(1, "me")
list1

In [ ]:
list=[2,5,3,6,8]
list.sort()
list

In [ ]:
list.pop(2)
list

In [ ]:
list.reverse()
list

In [ ]:
list3=[20, 30, 56,76,78,89,90]
len(list3)

In [ ]:
list3.sort()
list3

In [ ]:
list1+list2

In [ ]:
list1 = [5,6,7,2,5,7,8,7,9]
print(list1.count(7))


list3 = ["Eclairs", "DairyMilk", "Eclairs", "kitkat", "Now", "Eclairs"]
print(list3.count("Eclarirs"))

## Dictionaries
- An ordered collection of elements
- {} use this curly braces
- can change value(mutateble)

In [ ]:
#Food and their prices
food = {"samosa":30, "Raita":20, "Pakora":100, "Salad":50, "Chicken Rolls":30}
food

In [ ]:
type(food)

In [ ]:
keys1 = food.keys()
keys1

In [ ]:
value1=food.values()
value1

In [ ]:

food["Tikke"]=10
food

In [ ]:
#Update the value
food["Tikki"]=15
food

In [ ]:
food2={"Dates":50, "Mangoes": 200, " Chocoloates":100}
food2

In [ ]:
food.update(food2)
food

In [ ]:
mobile = {"nokia" "samsubg", "oppo", "vivo", "Q"}
mobile.clear()
mobile

In [ ]:
mobile = {"nokia":10, "samsung":20 , "oppo":30, "vivo":40, "Q":50}
mobile.clear()
mobile

In [ ]:
mobile = {2,5,3,7,8,9,4,5}
a=mobile.copy()
a

In [ ]:
mobile = {"nokia":10, "samsung":20 , "oppo":30, "vivo":40, "Q":50}
a=mobile.get("nokia")
a

In [ ]:
mobile = {"nokia":10, "samsung":20 , "oppo":30, "vivo":40, "Q":50}
a=mobile.items()
a

In [ ]:
mobile = {"nokia":"one", "samsung":"two" , "oppo":"three", "vivo":"four", "Q":"five"}
a=mobile.setdefault("oppo", "Done")
a

### SETS 
- unordered aand uninidexed
- curly brace{}
- no duplicates

In [ ]:
s1={1, 2.2, 3, "Ahmed","chocolates", "Hyderabad", True}
s1

### Different Functions of Set

In [ ]:
s1.add(5)

In [ ]:
s1={1, 2.2, 3, "Ahmed","chocolates", "Hyderabad", True}
s2={1, 4, 3, "Ahmed","cakes", "karcahi", True}
s1.difference(s2)
s1

In [ ]:
s1={1, 2.2, 3, "Ahmed","chocolates", "Hyderabad", True}
s1.remove("Hyderabad")
s1

In [ ]:
s2={1, 4, 3, "Ahmed","cakes", "karcahi", True}
s2.remove(4)
s2

In [ ]:
s1={1, 2, 3,4, 5}
s2={1, 4, 3, 5,7,8,9}
s1.intersection()
s1

In [ ]:
s1={1, 2, 3,4, 5}
s2={1, 4, 3, 5,7,8,9}
s2.isdisjoint(s1)
s2

In [ ]:
s1={1, 2, 3,4, 5}
s2={1, 4, 3, 5,7,8,9}
s3=s1.issubset(s2)
s3

In [ ]:
s1={1, 2, 3,4, 5}
s2={1,2, 4, 3, 5,7,8,9}
s3=s2.symmetric_difference(s1)
s3

In [ ]:
s1={1, 2, 3,4, 5}
s2={1, 4, 3, 5,7,8,9}
s3=s1.union(s2)
s3

In [ ]:
s1={1, 3, 5,7, 9}
s2={2, 4, 6, 8}
s2.update(s1)
s2

# TASK : ADD YOUR 2 small programs here
For example:

* Calculator
* Guess the Number
* Unit Converter
* BMI Calculator:
* Basic Quiz App: 
* Basic Chatbot

## By Arthur Nweke-Uchebo

In [2]:
#Simple_calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function divides two numbers
def divide(x, y):
    return x / y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

print("Select an Operation")
print("1 - Additon")
print("2 - Subtraction")
print("3 - Division")
print("4 - Multiplication")

while True:
    # take input from the user
    choice = input("Choose an operation (1/2/3/4): ")

    #check if the choice is one of the four options
    if choice in ('1', '2','3', '4'):
        try:
            num_1 = float(input("Enter first number: "))
            num_2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid Input, Kindly Enter a number")
            continue

        if choice == '1':
            print(num_1, '+', num_2, '=', add(num_1, num_2))
            
        elif choice == '2':
            print(num_1, '-', num_2, '=', subtract(num_1, num_2))
        
        elif choice == '3':
            print(num_1, '/', num_2, '=', divide(num_1, num_2))
        
        elif choice == '4':
            print(num_1, '*', num_2, '=', multiply(num_1, num_2))

        #check if user wants to perfoerm another calculation
        #break the while loop if the answer is "no"

        next_calculation = input("Let's perform another calculation?: (yes/no)")
        if next_calculation == 'no':
            break
    else:
        print("Invalid Input")

Select an Operation
1 - Additon
2 - Subtraction
3 - Division
4 - Multiplication
Invalid Input
Invalid Input
45.0 / 56.0 = 0.8035714285714286